cloudformation-template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: 'FOMC Gists Infrastructure - DynamoDB, S3, Lambda, Step Functions, API Gateway'

Parameters:
  YoutubeApiKey:
    Type: String
    Description: YouTube Data API v3 Key
    NoEcho: true
  GoogleAiApiKey:
    Type: String
    Description: Google AI Studio API Key
    NoEcho: true
  FedChannelId:
    Type: String
    Description: Federal Reserve YouTube Channel ID
    Default: UCAzhpt9DmG6PnHXjmJTvRGQ
  AlertEmail:
    Type: String
    Description: Email address for CloudWatch alarm notifications (leave empty to skip)
    Default: ''

Conditions:
  HasAlertEmail: !Not [!Equals [!Ref AlertEmail, '']]

Resources:
  # S3 Bucket for data storage and Lambda layers
  FomcS3Bucket:
    Type: AWS::S3::Bucket
    DeletionPolicy: Retain
    Properties:
      BucketName: fomc-gists-s3
      VersioningConfiguration:
        Status: Enabled
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true

  # DynamoDB Table
  FomcDynamoDBTable:
    Type: AWS::DynamoDB::Table
    DeletionPolicy: Retain
    Properties:
      TableName: fomc-gists-dynamodb
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: year
          AttributeType: S
        - AttributeName: month_date
          AttributeType: S
      KeySchema:
        - AttributeName: year
          KeyType: HASH
        - AttributeName: month_date
          KeyType: RANGE

  # Secrets Manager Secret for API keys
  FomcSecretsManagerSecret:
    Type: AWS::SecretsManager::Secret
    Properties:
      Name: fomc-gists/env-keys
      Description: API keys and configuration for FOMC Gists Lambda functions
      SecretString: !Sub |
        {
          "YOUTUBE_API_KEY": "${YoutubeApiKey}",
          "GOOGLE_AI_API_KEY": "${GoogleAiApiKey}",
          "FED_CHANNEL_ID": "${FedChannelId}",
          "S3_NAME": "${FomcS3Bucket}"
        }

  # IAM Role for Lambda functions
  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: FomcLambdaPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:GetItem
                  - dynamodb:PutItem
                  - dynamodb:Query
                  - dynamodb:Scan
                  - dynamodb:UpdateItem
                Resource: !GetAtt FomcDynamoDBTable.Arn
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:PutObject
                  - s3:DeleteObject
                  - s3:ListBucket
                Resource:
                  - !Sub '${FomcS3Bucket.Arn}/*'
                  - !GetAtt FomcS3Bucket.Arn
              - Effect: Allow
                Action:
                  - events:PutRule
                  - events:PutTargets
                  - events:DeleteRule
                  - events:RemoveTargets
                  - events:DescribeRule
                  - events:ListTargetsByRule
                  - iam:PassRole
                Resource: '*'
              - Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource: !Ref FomcSecretsManagerSecret

  # IAM Role for Step Functions to invoke Lambdas
  StepFunctionsExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StepFunctionsInvokeLambda
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt LivestreamMonitorLambda.Arn
                  - !GetAtt TranscriberLambda.Arn
                  - !GetAtt OpeningStatementAnalysisLambda.Arn
                  - !GetAtt PressQAAnalysisLambda.Arn
                  - !GetAtt DbTransformLambda.Arn
              - Effect: Allow
                Action:
                  - logs:CreateLogDelivery
                  - logs:GetLogDelivery
                  - logs:UpdateLogDelivery
                  - logs:DeleteLogDelivery
                  - logs:ListLogDeliveries
                  - logs:PutResourcePolicy
                  - logs:DescribeResourcePolicies
                  - logs:DescribeLogGroups
                Resource: '*'

  # IAM Role for EventBridge to start Step Functions executions
  EventBridgeStepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: EventBridgeStartExecution
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource: !Ref FomcStateMachine

  # Lambda Functions
  LivestreamMonitorLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: fomc-livestream-monitor
      Runtime: python3.10
      Handler: lambda_livestream_monitor.lambda_handler
      Code:
        ZipFile: |
          # Placeholder - will be updated during deployment
          def lambda_handler(event, context):
              return {'statusCode': 200, 'body': 'Placeholder'}
      Role: !GetAtt LambdaExecutionRole.Arn
      Environment:
        Variables:
          YOUTUBE_API_KEY: !Ref YoutubeApiKey
          FED_CHANNEL_ID: !Ref FedChannelId
          S3_BUCKET: !Ref FomcS3Bucket
      Timeout: 900

  TranscriberLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: fomc-transcriber
      Runtime: python3.10
      Handler: lambda_transcriber.lambda_handler
      Code:
        ZipFile: |
          # Placeholder - will be updated during deployment
          def lambda_handler(event, context):
              return {'statusCode': 200, 'body': 'Placeholder'}
      Role: !GetAtt LambdaExecutionRole.Arn
      Environment:
        Variables:
          S3_BUCKET: !Ref FomcS3Bucket
      Timeout: 900

  OpeningStatementAnalysisLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: fomc-opening-statement-analysis
      Runtime: python3.10
      Handler: lambda_opening_statement_analysis.lambda_handler
      Code:
        ZipFile: |
          # Placeholder - will be updated during deployment
          def lambda_handler(event, context):
              return {'statusCode': 200, 'body': 'Placeholder'}
      Role: !GetAtt LambdaExecutionRole.Arn
      Environment:
        Variables:
          GOOGLE_AI_API_KEY: !Ref GoogleAiApiKey
          S3_BUCKET: !Ref FomcS3Bucket
      Timeout: 900

  PressQAAnalysisLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: fomc-press-qa-analysis
      Runtime: python3.10
      Handler: lambda_press_qa_analysis.lambda_handler
      Code:
        ZipFile: |
          # Placeholder - will be updated during deployment
          def lambda_handler(event, context):
              return {'statusCode': 200, 'body': 'Placeholder'}
      Role: !GetAtt LambdaExecutionRole.Arn
      Environment:
        Variables:
          GOOGLE_AI_API_KEY: !Ref GoogleAiApiKey
          S3_BUCKET: !Ref FomcS3Bucket
      Timeout: 900

  DbTransformLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: fomc-db-transform
      Runtime: python3.10
      Handler: lambda_db_transform.lambda_handler
      Code:
        ZipFile: |
          # Placeholder - will be updated during deployment
          def lambda_handler(event, context):
              return {'statusCode': 200, 'body': 'Placeholder'}
      Role: !GetAtt LambdaExecutionRole.Arn
      Environment:
        Variables:
          S3_BUCKET: !Ref FomcS3Bucket
          DYNAMODB_TABLE: !Ref FomcDynamoDBTable
      Timeout: 60

  DataApiGatewayLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: fomc-data-api-gateway
      Runtime: python3.10
      Handler: lambda_data_api_gateway.lambda_handler
      Code:
        ZipFile: |
          # Placeholder - will be updated during deployment
          def lambda_handler(event, context):
              return {'statusCode': 200, 'body': 'Placeholder'}
      Role: !GetAtt LambdaExecutionRole.Arn
      Environment:
        Variables:
          DYNAMODB_TABLE: !Ref FomcDynamoDBTable
      Timeout: 30

  FomcSchedulerLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: fomc-scheduler
      Runtime: python3.10
      Handler: lambda_scheduler.lambda_handler
      Code:
        ZipFile: |
          # Placeholder - will be updated during deployment
          def lambda_handler(event, context):
              return {'statusCode': 200, 'body': 'Placeholder'}
      Role: !GetAtt LambdaExecutionRole.Arn
      Environment:
        Variables:
          S3_BUCKET: !Ref FomcS3Bucket
          STATE_MACHINE_ARN: !Ref FomcStateMachine
          EVENTBRIDGE_SF_ROLE_ARN: !GetAtt EventBridgeStepFunctionsRole.Arn
      Timeout: 300

  # Step Functions State Machine
  StateMachineLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /aws/stepfunctions/fomc-pipeline
      RetentionInDays: 30

  FomcStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: fomc-pipeline
      RoleArn: !GetAtt StepFunctionsExecutionRole.Arn
      LoggingConfiguration:
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn: !GetAtt StateMachineLogGroup.Arn
        IncludeExecutionData: true
        Level: ERROR
      DefinitionString: !Sub |
        {
          "Comment": "FOMC Press Conference Processing Pipeline",
          "StartAt": "MonitorLivestream",
          "States": {
            "MonitorLivestream": {
              "Type": "Task",
              "Resource": "${LivestreamMonitorLambda.Arn}",
              "TimeoutSeconds": 900,
              "ResultPath": "$.monitorResult",
              "Retry": [
                {
                  "ErrorEquals": ["VideoNotFoundError"],
                  "IntervalSeconds": 630,
                  "MaxAttempts": 3,
                  "BackoffRate": 1.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Next": "PipelineFailed",
                  "ResultPath": "$.error"
                }
              ],
              "Next": "Transcribe"
            },
            "Transcribe": {
              "Type": "Task",
              "Resource": "${TranscriberLambda.Arn}",
              "TimeoutSeconds": 900,
              "Parameters": {
                "date_dir.$": "$.monitorResult.date_dir",
                "video_id.$": "$.monitorResult.video_id"
              },
              "ResultPath": "$.transcribeResult",
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
                  "IntervalSeconds": 60,
                  "MaxAttempts": 5,
                  "BackoffRate": 1.5
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Next": "PipelineFailed",
                  "ResultPath": "$.error"
                }
              ],
              "Next": "WaitAfterTranscribe"
            },
            "WaitAfterTranscribe": {
              "Type": "Wait",
              "Seconds": 60,
              "Next": "OpeningStatementAnalysis"
            },
            "OpeningStatementAnalysis": {
              "Type": "Task",
              "Resource": "${OpeningStatementAnalysisLambda.Arn}",
              "TimeoutSeconds": 900,
              "Parameters": {
                "date_dir.$": "$.monitorResult.date_dir"
              },
              "ResultPath": "$.openingResult",
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
                  "IntervalSeconds": 60,
                  "MaxAttempts": 5,
                  "BackoffRate": 1.5
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Next": "PipelineFailed",
                  "ResultPath": "$.error"
                }
              ],
              "Next": "WaitAfterOpening"
            },
            "WaitAfterOpening": {
              "Type": "Wait",
              "Seconds": 60,
              "Next": "PressQAAnalysis"
            },
            "PressQAAnalysis": {
              "Type": "Task",
              "Resource": "${PressQAAnalysisLambda.Arn}",
              "TimeoutSeconds": 900,
              "Parameters": {
                "date_dir.$": "$.monitorResult.date_dir"
              },
              "ResultPath": "$.pressQaResult",
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
                  "IntervalSeconds": 60,
                  "MaxAttempts": 5,
                  "BackoffRate": 1.5
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Next": "PipelineFailed",
                  "ResultPath": "$.error"
                }
              ],
              "Next": "TransformAndLoad"
            },
            "TransformAndLoad": {
              "Type": "Task",
              "Resource": "${DbTransformLambda.Arn}",
              "TimeoutSeconds": 60,
              "Parameters": {
                "date_dir.$": "$.monitorResult.date_dir"
              },
              "ResultPath": "$.transformResult",
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
                  "IntervalSeconds": 5,
                  "MaxAttempts": 3,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Next": "PipelineFailed",
                  "ResultPath": "$.error"
                }
              ],
              "Next": "Succeed"
            },
            "Succeed": {
              "Type": "Succeed"
            },
            "PipelineFailed": {
              "Type": "Fail",
              "Cause": "Pipeline step failed after retries",
              "Error": "PipelineError"
            }
          }
        }

  # REST API Gateway
  FomcApiGateway:
    Type: AWS::ApiGateway::RestApi
    Properties:
      Name: fomc-gists-api
      Description: API for FOMC Gists data access

  # API Gateway Resources (path segments)
  MeetingsResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref FomcApiGateway
      ParentId: !GetAtt FomcApiGateway.RootResourceId
      PathPart: meetings

  YearsResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref FomcApiGateway
      ParentId: !Ref MeetingsResource
      PathPart: years

  YearResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref FomcApiGateway
      ParentId: !Ref MeetingsResource
      PathPart: '{year}'

  MonthDateResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref FomcApiGateway
      ParentId: !Ref YearResource
      PathPart: '{month_date}'

  OpeningStatementResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref FomcApiGateway
      ParentId: !Ref MonthDateResource
      PathPart: opening_statement_transcript

  # GET methods
  GetYearsMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref FomcApiGateway
      ResourceId: !Ref YearsResource
      HttpMethod: GET
      AuthorizationType: NONE
      ApiKeyRequired: false
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub 'arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${DataApiGatewayLambda.Arn}/invocations'

  GetMeetingsMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref FomcApiGateway
      ResourceId: !Ref YearResource
      HttpMethod: GET
      AuthorizationType: NONE
      ApiKeyRequired: false
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub 'arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${DataApiGatewayLambda.Arn}/invocations'

  GetMeetingMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref FomcApiGateway
      ResourceId: !Ref MonthDateResource
      HttpMethod: GET
      AuthorizationType: NONE
      ApiKeyRequired: false
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub 'arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${DataApiGatewayLambda.Arn}/invocations'

  GetOpeningStatementMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref FomcApiGateway
      ResourceId: !Ref OpeningStatementResource
      HttpMethod: GET
      AuthorizationType: NONE
      ApiKeyRequired: false
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub 'arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${DataApiGatewayLambda.Arn}/invocations'

  # OPTIONS methods for CORS preflight
  YearsOptionsMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref FomcApiGateway
      ResourceId: !Ref YearsResource
      HttpMethod: OPTIONS
      AuthorizationType: NONE
      Integration:
        Type: MOCK
        RequestTemplates:
          application/json: '{"statusCode": 200}'
        IntegrationResponses:
          - StatusCode: '200'
            ResponseParameters:
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Methods: "'GET,OPTIONS'"
              method.response.header.Access-Control-Allow-Origin: "'https://fomcdebriefs.netlify.app'"
      MethodResponses:
        - StatusCode: '200'
          ResponseParameters:
            method.response.header.Access-Control-Allow-Headers: true
            method.response.header.Access-Control-Allow-Methods: true
            method.response.header.Access-Control-Allow-Origin: true

  YearOptionsMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref FomcApiGateway
      ResourceId: !Ref YearResource
      HttpMethod: OPTIONS
      AuthorizationType: NONE
      Integration:
        Type: MOCK
        RequestTemplates:
          application/json: '{"statusCode": 200}'
        IntegrationResponses:
          - StatusCode: '200'
            ResponseParameters:
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Methods: "'GET,OPTIONS'"
              method.response.header.Access-Control-Allow-Origin: "'https://fomcdebriefs.netlify.app'"
      MethodResponses:
        - StatusCode: '200'
          ResponseParameters:
            method.response.header.Access-Control-Allow-Headers: true
            method.response.header.Access-Control-Allow-Methods: true
            method.response.header.Access-Control-Allow-Origin: true

  MonthDateOptionsMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref FomcApiGateway
      ResourceId: !Ref MonthDateResource
      HttpMethod: OPTIONS
      AuthorizationType: NONE
      Integration:
        Type: MOCK
        RequestTemplates:
          application/json: '{"statusCode": 200}'
        IntegrationResponses:
          - StatusCode: '200'
            ResponseParameters:
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Methods: "'GET,OPTIONS'"
              method.response.header.Access-Control-Allow-Origin: "'https://fomcdebriefs.netlify.app'"
      MethodResponses:
        - StatusCode: '200'
          ResponseParameters:
            method.response.header.Access-Control-Allow-Headers: true
            method.response.header.Access-Control-Allow-Methods: true
            method.response.header.Access-Control-Allow-Origin: true

  OpeningStatementOptionsMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref FomcApiGateway
      ResourceId: !Ref OpeningStatementResource
      HttpMethod: OPTIONS
      AuthorizationType: NONE
      Integration:
        Type: MOCK
        RequestTemplates:
          application/json: '{"statusCode": 200}'
        IntegrationResponses:
          - StatusCode: '200'
            ResponseParameters:
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Methods: "'GET,OPTIONS'"
              method.response.header.Access-Control-Allow-Origin: "'https://fomcdebriefs.netlify.app'"
      MethodResponses:
        - StatusCode: '200'
          ResponseParameters:
            method.response.header.Access-Control-Allow-Headers: true
            method.response.header.Access-Control-Allow-Methods: true
            method.response.header.Access-Control-Allow-Origin: true

  # API Gateway Deployment and Stage
  ApiGatewayDeployment:
    Type: AWS::ApiGateway::Deployment
    DependsOn:
      - GetYearsMethod
      - GetMeetingsMethod
      - GetMeetingMethod
      - GetOpeningStatementMethod
      - YearsOptionsMethod
      - YearOptionsMethod
      - MonthDateOptionsMethod
      - OpeningStatementOptionsMethod
    Properties:
      RestApiId: !Ref FomcApiGateway

  ApiGatewayStage:
    Type: AWS::ApiGateway::Stage
    Properties:
      RestApiId: !Ref FomcApiGateway
      DeploymentId: !Ref ApiGatewayDeployment
      StageName: prod

  # API Key and Usage Plan
  FomcApiKey:
    Type: AWS::ApiGateway::ApiKey
    DependsOn: ApiGatewayStage
    Properties:
      Name: fomc-gists-api-key
      Enabled: true
      StageKeys:
        - RestApiId: !Ref FomcApiGateway
          StageName: prod

  FomcUsagePlan:
    Type: AWS::ApiGateway::UsagePlan
    DependsOn: ApiGatewayStage
    Properties:
      UsagePlanName: fomc-gists-usage-plan
      Throttle:
        RateLimit: 50
        BurstLimit: 100
      ApiStages:
        - ApiId: !Ref FomcApiGateway
          Stage: prod

  FomcUsagePlanKey:
    Type: AWS::ApiGateway::UsagePlanKey
    Properties:
      KeyId: !Ref FomcApiKey
      KeyType: API_KEY
      UsagePlanId: !Ref FomcUsagePlan

  # Lambda Permission for API Gateway
  ApiGatewayLambdaPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref DataApiGatewayLambda
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub 'arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${FomcApiGateway}/*/*'

  # Alerting
  FomcAlertTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: fomc-pipeline-alerts

  FomcAlertSubscription:
    Type: AWS::SNS::Subscription
    Condition: HasAlertEmail
    Properties:
      TopicArn: !Ref FomcAlertTopic
      Protocol: email
      Endpoint: !Ref AlertEmail

  # Step Functions pipeline failure alarm
  PipelineFailedAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: fomc-pipeline-execution-failed
      AlarmDescription: FOMC Step Functions pipeline execution failed
      Namespace: AWS/States
      MetricName: ExecutionsFailed
      Dimensions:
        - Name: StateMachineArn
          Value: !Ref FomcStateMachine
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 0
      ComparisonOperator: GreaterThanThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref FomcAlertTopic

  # Lambda error alarms (one per processing Lambda)
  MonitorErrorAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: fomc-livestream-monitor-errors
      AlarmDescription: FOMC livestream monitor Lambda errors
      Namespace: AWS/Lambda
      MetricName: Errors
      Dimensions:
        - Name: FunctionName
          Value: !Ref LivestreamMonitorLambda
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 0
      ComparisonOperator: GreaterThanThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref FomcAlertTopic

  TranscriberErrorAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: fomc-transcriber-errors
      AlarmDescription: FOMC transcriber Lambda errors
      Namespace: AWS/Lambda
      MetricName: Errors
      Dimensions:
        - Name: FunctionName
          Value: !Ref TranscriberLambda
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 0
      ComparisonOperator: GreaterThanThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref FomcAlertTopic

  OpeningAnalysisErrorAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: fomc-opening-analysis-errors
      AlarmDescription: FOMC opening statement analysis Lambda errors
      Namespace: AWS/Lambda
      MetricName: Errors
      Dimensions:
        - Name: FunctionName
          Value: !Ref OpeningStatementAnalysisLambda
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 0
      ComparisonOperator: GreaterThanThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref FomcAlertTopic

  PressQAErrorAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: fomc-press-qa-errors
      AlarmDescription: FOMC press Q&A analysis Lambda errors
      Namespace: AWS/Lambda
      MetricName: Errors
      Dimensions:
        - Name: FunctionName
          Value: !Ref PressQAAnalysisLambda
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 0
      ComparisonOperator: GreaterThanThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref FomcAlertTopic

  # Lambda duration alarms (approaching 900s timeout)
  MonitorDurationAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: fomc-livestream-monitor-duration
      AlarmDescription: FOMC livestream monitor approaching timeout (>800s of 900s)
      Namespace: AWS/Lambda
      MetricName: Duration
      Dimensions:
        - Name: FunctionName
          Value: !Ref LivestreamMonitorLambda
      Statistic: Maximum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 800000
      ComparisonOperator: GreaterThanThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref FomcAlertTopic

  TranscriberDurationAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: fomc-transcriber-duration
      AlarmDescription: FOMC transcriber approaching timeout (>800s of 900s)
      Namespace: AWS/Lambda
      MetricName: Duration
      Dimensions:
        - Name: FunctionName
          Value: !Ref TranscriberLambda
      Statistic: Maximum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 800000
      ComparisonOperator: GreaterThanThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref FomcAlertTopic

  # API Gateway 5xx alarm
  ApiGateway5xxAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: fomc-api-5xx-errors
      AlarmDescription: FOMC API Gateway 5xx error rate
      Namespace: AWS/ApiGateway
      MetricName: 5XXError
      Dimensions:
        - Name: ApiName
          Value: fomc-gists-api
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 0
      ComparisonOperator: GreaterThanThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref FomcAlertTopic

Outputs:
  ApiGatewayUrl:
    Description: API Gateway URL
    Value: !Sub 'https://${FomcApiGateway}.execute-api.${AWS::Region}.amazonaws.com/prod'
    Export:
      Name: !Sub '${AWS::StackName}-ApiUrl'

  S3BucketName:
    Description: S3 Bucket Name
    Value: !Ref FomcS3Bucket
    Export:
      Name: !Sub '${AWS::StackName}-S3Bucket'

  DynamoDBTableName:
    Description: DynamoDB Table Name
    Value: !Ref FomcDynamoDBTable
    Export:
      Name: !Sub '${AWS::StackName}-DynamoDBTable'

  StateMachineArn:
    Description: Step Functions State Machine ARN
    Value: !Ref FomcStateMachine
    Export:
      Name: !Sub '${AWS::StackName}-StateMachineArn'

  ApiKeyId:
    Description: API Key ID (retrieve value from AWS Console or CLI)
    Value: !Ref FomcApiKey

  SecretsManagerSecretArn:
    Description: Secrets Manager Secret ARN
    Value: !Ref FomcSecretsManagerSecret
    Export:
      Name: !Sub '${AWS::StackName}-SecretsManagerSecret'
